.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.ErrorMessage {
  text-align: center;
  color: red;
  font: bold;
  font-size: 20px;
}