.Person {
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 3px 20px rgb(3, 111, 231);
    padding: 16px;
    text-align: center;
}
/* media query can be defined in css but we define in JSX as it allows dynamic styling */
/* @media (min-width: 500px){
    .Person{
        width: 450px;
    }
} */